name: 'schedule'

on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@main
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: |
          git config --global user.email "leachzhou@163.com"
          git config --global user.name "LeachZhou"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          node index.js
          git add .
          git diff-index --quiet HEAD || git commit -m "update by github action" && git push
        env:
          U_MAIL: ${{ secrets.U_MAIL }}
          U_PASSWORD: ${{ secrets.U_PASSWORD }}
